
html{
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
}
.main {
    display: flex;
    flex-direction: column;
    flex:1 0 25%;
}


.awesome{
    display: flex;
    flex: 1;
}

.random{
    display: flex;
    flex: 1;
}

.quote{
    background-color: #e5e7eb;
    padding: 70px 180px;
    flex: 0 0 auto ;
    justify-content: center;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    flex: 1;
}
/* done! */
.inspiring{
    justify-content: flex-start;
    color:#1f2937bb;
    display: flex;
    flex-wrap: wrap;
    font-style: italic;
    font-size: 26px;
    max-width: 800px;
}
.someone{
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
   
}
.footer{
    color: #e5e7eb;
    font-size: 10px;
    height: 50px;
    margin: 0;
    border: 0;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.sign-up-box{
    padding: 70px 120px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.blue-box {
    border-radius: 5px;
    color: #e5e7eb;
    background-color:#3882f6 ;
    display: flex;
    align-items: center;
    flex:1 1 100%;
    justify-content: space-between;
    padding: 30px 50px;
    max-width: 700px;
    
    
}

.sign {
    margin-top: 0;
    font-size: 10px;
    padding: 0;
}

.call {
    margin-bottom: 0;
    padding: 0;

}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#3882f6 ;
    color: #e5e7eb;
    border-style: solid;
    border-color: #e5e7eb;
    border-width: 1px;
    border-radius: 3px;
    padding: 2px 12px;
}