
html{
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 10px 50px;
}

a{
    text-decoration: none;
    font-size: 15px;
    color: #e5e7ebc4;
    margin-left: 12px;
}
.logo-image{
    width: 60px;
    height: 40px;
    border-radius: 50%;

}
.main {
    display: flex;
    flex-direction: column;
    flex: 1 1 25%;
}

.awesome{
    display: flex;
    background-color: #1f2937;
    padding: 100px;
    justify-content: space-around;
    
}
.awesome-text-container{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 200px;
    width: 350px;
    margin: 50px;
}

.heading{
    font-weight: 900;
    font-size: 42px;
    color:#e5e7eb;
    flex-wrap: wrap;

}

.sub-heading{
    color: #e5e7eb93;
}

.first-signup-button{
    display: flex;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    background-color:#3882f6 ;
    color: #e5e7eb;
    border-style: solid;
    border-color: #3882f6;
    border-width: 1px;
    border-radius: 3px;
    padding: 4px 16px;
    margin-top: 10px;
}

.trees-image{
    width: 100%;
    height: 200px;
    border-radius: 12px;
}

.image{
    min-width: 250px;
    max-width: 450px;
}
.random{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 70px;
    
}

.random-text{
    font-size: 26px;
    font-weight: 600;
    margin: 20px;

}

.caption-container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.boxes{
    display: flex;
    flex-wrap: wrap;
}

.box{
    display: flex;
    border: 3px;
    border-style: solid;
    border-color: #3882f6;
    width: 110px;
    height: 110px;

    border-radius: 10px;
    

}

.caption-text{
    width:110px;
    font-size: 10px;
    color:rgba(0, 0, 0, 0.637);
    text-align: center;
}


.quote{
    background-color: #e5e7eb;
    padding: 70px 180px 50px;
    flex: 0 0 auto ;
    justify-content: center;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    flex: 1;
}

.inspiring{
    justify-content: flex-start;
    color:#1f293798;
    display: flex;
    flex-wrap: wrap;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 24px;
    max-width: 800px;
}
.someone{
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
   
}
.footer{
    color: #e5e7eb;
    font-size: 10px;
    height: 65px;
    margin: 0;
    border: 0;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.sign-up-box{
    padding: 70px 120px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.blue-box {
    border-radius: 5px;
    color: #e5e7eb;
    background-color:#3882f6 ;
    display: flex;
    align-items: center;
    flex:1 1 100%;
    justify-content: space-between;
    padding: 30px 50px;
    max-width: 700px;
    
    
}

.sign {
    margin-top: 0;
    font-size: 10px;
    padding: 0;
}

.call {
    margin-bottom: 0;
    padding: 0;

}

.second-signup-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#3882f6 ;
    font-size: 14px;
    font-weight: 500;
    color: #e5e7eb;
    border-style: solid;
    border-color: #e5e7eb;
    border-width: 1px;
    border-radius: 3px;
    padding: 3px 18px;
}